/*-------------- RESET DEFAULT --------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------- WEBKIT --------------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

html {
    min-height: 100%;
}

/*-------------- BODY --------------*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
    background:
        linear-gradient(rgb(238, 19, 19), transparent),
        linear-gradient(to top left, rgb(249, 87, 176), transparent),
        linear-gradient(to top right, rgb(214, 123, 18), transparent);
        background-blend-mode: screen;   
}

/*-------------- TAG STYLES --------------*/
h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/*-------------- CENTERING --------------*/
.center {
    text-align: center;
}

/*-------------- LOGO SECTION --------------*/
.logoSection{
    margin:auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 0px;
    z-index: 3;
}

.logoSection div{
    margin: auto;
    text-align: center; 
}

.topShape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.topShape svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 350px;
    z-index: 2;
}

.topShape .shape-fill {
    fill: rgba(0, 0, 0, 0.265);
}

/* ----------------------------- */

/*-------------- DARK-MODE BUTTON --------------*/
.dark-mode-btn{
    position: absolute;
    background-color: #0000005d;
    color: rgb(221, 221, 221);
    padding: .6em;
    border-radius: 8%;
    top: -7px;
    right: 30px;
    height: 2.4vw;
    width: 5vw;  
    font-size: .7vw;  
    border: none;
    /* box-shadow: 1px 1px 2px #0000007d; */
    z-index: 3;
    transition: opacity 0.25s;
}

button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 0.2;
}

/* DARKMODE STYLING */
  
.dark-mode .dark-mode-btn {
    background-color: #00000061;
}

.dark-mode .topShape .shape-fill {
    fill: #00000046;
}

.dark-mode .footerShape .shape-fill {
    fill: #0000006f;
}

.dark-mode #card{
background-color: #421657;
color: white;
}

.dark-mode .btn {
    background-color: #00000061;
    color: antiquewhite;
}

  .dark-mode {
    background:
    linear-gradient(rgb(136, 0, 174), transparent),
    linear-gradient(to top left, rgb(49, 4, 69), transparent),
    linear-gradient(to top right, rgb(27, 0, 46), transparent);
    background-blend-mode: screen;
  }

/*-------------- CONTAINER FOR CONTENT --------------*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6vw;
    margin-left: 8vw;
    margin-right: 8vw;
    z-index: 3;
    
}

.wrapper {
    margin: auto;
    z-index: inherit;
}

/*-------------- GAME CARDS - THE GUESSES, THE GAME & SCORE BOARD --------------*/
#card {
    background-color: rgb(243, 243, 243);
    margin: .4rem;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 4px 4px 6px #00000025;
    
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    z-index: inherit;

    /* FOR SQUARE GAME CARDS */
    /* border-radius: 1rem; */
}

.guess-label {
    display: block;
    margin-bottom: 2rem;
    z-index: inherit;
}

.input-group {
    width: 100%;;
    padding: 1rem;
    z-index: inherit;
}

.guessedNumbersAre {
    padding-bottom: 1rem;
}

.btn {
    border-radius: 50%;
    width: 3.4rem;
    height: 3.4rem;
    margin: .2rem;
    margin-top: 2rem;
    z-index: inherit;
}

.guess {
    width: 6.5rem;
}

.guess:invalid{
    animation: shake 300ms;
}
@keyframes shake{
25%{
    transform: translateX(4px)
}
50%{
    transform: translateX(-4px)
}
75%{
    transform: translateX(4px)
}
}

 /*-------------- FOOTER --------------*/

 .footerWave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footerWave svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 292px;
}

.footerWave .shape-fill {
   fill: #00000084;
}


.footerTriangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footerTriangle svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 229px;
}

.footerTriangle .shape-fill {
    fill: #0000004a;
}

  .footerInfo{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    z-index: 3;
}

footer {
    margin: auto;
    bottom: 0px;
}

 /*-------------- MEDIA QUERIES --------------*/

 @media (min-width:2000px) { 
    
    .container {
        margin-top: 8vw;
        margin-left: 1vw;
        margin-right: 1vw;

    }     
    #card {
        min-width: 500px;
        max-width: 500px;
        min-height: 500px;
        max-height: 500px;
    }  
}

@media (max-width:1475px) { 
    
    h2 {
        font-size: 1.3rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        margin-top: 8vw;
        margin-left: 1vw;
        margin-right: 1vw;

    }     
    #card {
        min-width: 350px;
        max-width: 350px;
        min-height: 350px;
        max-height: 350px;
    }  

    .guess-label {
        margin-bottom: 2rem;
    }
    
    .btn {
        font-size: .7rem;
        width: 3rem;
        height: 3rem;
        margin-top: 1rem;
    }
 }

 @media (max-width:1190px) { 
    
    h2 {
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    p {
        font-size: .9rem;
    }

    .container {
        margin-top: 11vw;
        margin-left: 1vw;
        margin-right: 1vw;

    }     
    #card {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
    }  

    .guess-label {
        margin-bottom: 1.3rem;
    }
    
    .btn {
        font-size: .7rem;
        width: 2.8rem;
        height: 2.8rem;
        margin-top: .5rem;
    }    
 }

  